#home-top {
    background-image: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1)), url("./assets/title-bg.jpg");
    background-position: center;
    background-size: auto;
    padding-bottom: 7.5rem;
    margin-bottom: -5.5rem;
	border: none !important;
}

#home-top p {
	text-shadow: 0.02em 0.01em 0.06em rgb(64, 64, 64);
}

#home-top h1 {
	text-shadow: 0.02em 0.02em 0.03em rgb(64, 64, 64);
}

.card {
    max-width: 15em;
}

.card-img-top {
    width: 100%;
    height: 5em;
    object-fit: cover;
}

.link-style-1-red, .link-style-1-blue, .link-style-1-green, .link-style-1-purple {
	padding: 0 .25rem;
	margin: 0 -.25rem;
  	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  	
	&:hover {
    	color: white;
  	}
}

.link-style-1-purple {
  	box-shadow: inset 0 0 0 0 #c074ff;
	color: #c074ff;
  	
	&:hover {
    	box-shadow: inset 100px 0 0 0 #c074ff;
  	}
}

.link-style-2-red, .link-style-2-blue, .link-style-2-green, .link-style-2-purple {
	position: relative;
	transition: color .3s ease-in-out;
	text-shadow: 0.02em 0.02em 0.07em rgb(128, 128, 128);

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		width: 100%;
		height: 3px;
		transform: scaleX(0);
        transform-origin: right;
		transition: transform .3s ease-in-out;
	}
	
	&:hover::before {
		transform: scaleX(1);
        transform-origin: left;
	}	
}

.link-style-2-red {
    &::before {
        background-color: #ff7393;
    }

    &:hover {
		color: #ff7393 !important;
		text-shadow: 0.02em 0.02em 0.07em #a1596a !important;
	}
}

.link-style-2-blue {
    &::before {
        background-color: #739bff;
    }

    &:hover {
		color: #739bff !important;
		text-shadow: 0.02em 0.02em 0.07em #556ba3 !important;
	}
}

.link-style-2-green {
    &::before {
        background-color: #55e061;
    }

    &:hover {
		color: #55e061 !important;
		text-shadow: 0.02em 0.02em 0.07em #3e8844 !important;
	}
}

.link-style-2-purple {
    &::before {
        background-color: #c074ff;
    }

    &:hover {
		color: #c074ff !important;
		text-shadow: 0.02em 0.02em 0.07em #7c4f9e !important;
	}
}

.link-style-2-reverse {
    &::before {
        transform-origin: left;
	}

    &:hover::before {
        transform-origin: right;
	}
}

.nav-link {
    transition-duration: 2s;
}

.nav-tabs .active {
	background-color: transparent !important;
}

.nav-tabs .nav-link:not(.active) {
	transition: color 0.2s ease-in-out;
}

.hover-purple:hover:not(.active) {
	color: #c074ff;
}	

.hover-blue:hover:not(.active) {
	color: #739bff;
}	

.subhead-shadow {
	text-shadow: 0.02em 0.02em 0.07em rgb(128, 128, 128);
}

.badge-hover:hover {
	transition: transform 0.3s ease;
	transform: scale(1.08);
}