#home-top {
    background-image: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1)), url("./assets/title-bg.jpg");
    background-position: center;
    background-size: auto;
    padding-bottom: 7.5rem;
    margin-bottom: -5.5rem;
	border: none !important;
}

#home-top p {
	text-shadow: 0.02em 0.01em 0.06em rgb(64, 64, 64);
}

#home-top h1 {
	text-shadow: 0.02em 0.02em 0.03em rgb(64, 64, 64);
}

.card {
    max-width: 15em;
}

.card-img-top {
    width: 100%;
    height: 5em;
    object-fit: cover;
}

.link-style-1-red, .link-style-1-blue, .link-style-1-green, .link-style-1-purple {
	padding: 0 .25rem;
	margin: 0 -.25rem;
  	transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  	
	&:hover {
    	color: white;
  	}
}

.link-style-1-purple {
  	box-shadow: inset 0 0 0 0 #c074ff;
	color: #c074ff;
  	
	&:hover {
    	box-shadow: inset 200px 0 0 0 #c074ff;
  	}
}

.link-style-1-red {
	box-shadow: inset 0 0 0 0 #ff7393;
  	color: #ff7393;
	
  	&:hover {
	  box-shadow: inset 200px 0 0 0 #ff7393;
	}
}

.link-style-1-green {
	box-shadow: inset 0 0 0 0 #55e061;
  	color: #55e061;
	
  	&:hover {
	  box-shadow: inset 200px 0 0 0 #55e061;
	}
}

.link-style-1-blue {
	box-shadow: inset 0 0 0 0 #739bff;
  	color: #739bff;
	
  	&:hover {
	  box-shadow: inset 200px 0 0 0 #739bff;
	}
}

.link-style-2-red, .link-style-2-blue, .link-style-2-green, .link-style-2-purple {
	position: relative;
	transition: color .3s ease-in-out;
	text-shadow: 0.02em 0.02em 0.07em rgb(128, 128, 128);

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		width: 100%;
		height: 3px;
		transform: scaleX(0);
        transform-origin: right;
		transition: transform .3s ease-in-out;
	}
	
	&:hover::before {
		transform: scaleX(1);
        transform-origin: left;
	}	
}

.link-style-2-red {
    &::before {
        background-color: #ff7393;
    }

    &:hover {
		color: #ff7393 !important;
		text-shadow: 0.02em 0.02em 0.07em #a1596a !important;
	}
}

.link-style-2-blue {
    &::before {
        background-color: #739bff;
    }

    &:hover {
		color: #739bff !important;
		text-shadow: 0.02em 0.02em 0.07em #556ba3 !important;
	}
}

.link-style-2-green {
    &::before {
        background-color: #55e061;
    }

    &:hover {
		color: #55e061 !important;
		text-shadow: 0.02em 0.02em 0.07em #3e8844 !important;
	}
}

.link-style-2-purple {
    &::before {
        background-color: #c074ff;
    }

    &:hover {
		color: #c074ff !important;
		text-shadow: 0.02em 0.02em 0.07em #7c4f9e !important;
	}
}

.link-style-2-reverse {
    &::before {
        transform-origin: left;
	}

    &:hover::before {
        transform-origin: right;
	}
}

.nav-link {
    transition-duration: 2s;
}

.nav-tabs .active {
	background-color: transparent !important;
}

.nav-tabs .nav-link:not(.active) {
	transition: color 0.2s ease-in-out;
}

.hover-purple:hover:not(.active) {
	color: #c074ff;
}	

.hover-blue:hover:not(.active) {
	color: #739bff;
}	

.subhead-shadow {
	text-shadow: 0.02em 0.02em 0.07em rgb(128, 128, 128);
}

.badge-hover:hover {
	transition: transform 0.3s ease;
	transform: scale(1.08);
}

.carousel-item {
	transition: transform 1s ease;
}

#bootstrap-overrides .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0.5rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.help-tip{
    position: relative;
    top: -0.25em;
    right: 0;
    text-align: center;
	vertical-align: center;
	align-content: center;
    background-color: #0aa8f8;
    border-radius: 50%;
    font-size: 0.5em;
    line-height: 1em;
    cursor: help;
	padding: 0.1em 0.5em;

    font-weight: bold;
    color:#fff;

}
.help-tip::before, .help-tip::after{
	position: absolute;
	left: 50%;
	opacity: 0;
	transition: allease0.3s;
}
.help-tip::before{
	content: "";
	border-width: 5px 5px 5px;
	border-style: solid;
	border-color: rgb(108, 108, 108) transparent transparent transparent;
	top: -0.8em;
	margin-left: -5px;
}
.help-tip::after{
	content: attr(data-help-tip);
	background: rgb(108, 108, 108);
	top: -0.3em;
	transform: translateY(-100%);
	font-size: 2em;
	font-weight:normal;
    line-height: 1em;
	width: 20em;
	margin-left: -15em;
	border-radius: 0.2em;
	color: #fff;
	padding: 0.3em;
}

/* Hover states */
.help-tip:hover::before, .help-tip:hover::after{
	opacity: 1;
}
